.App {
  /* text-align: center; */
  background-color: #3568B6;
  height: 100vh;
  font-size: calc(5px + 2vmin);
}

.App-header {
  background-color: white;
  /* font-size: calc(5px + 2vmin); */
  color: black;
  padding: 10px;
  text-align: left;
}

.form {
  padding: 30px;
}

.badge {
  background-color: red;
  margin: 5px 10px;
}

.name {
  text-align: left;
  color: white;
}

