.App {
  /* text-align: center; */
  background-color: rgb(71,86,167);
  height: 100vh;
  font-size: calc(5px + 2vmin);
}

.App-header {
  background-color: white;
  /* font-size: calc(5px + 2vmin); */
  color: black;
  padding: 10px;
  text-align: left;
}

.form {
  padding: 30px;
}

.badge {
  margin: 5px 10px;
  background-color: white;
}

.name {
  text-align: left;
  color: white;
}

.output {
  background-color: white;
  height: calc(500px + 2vmin)
}

.entity-button {
  color: black;
  padding: 4px;
  margin-left: 4px;
  border-radius: 5px;
}
.per-button-activate {
  background-color: rgb(166, 226, 45);
}

.geo-button-activate {
  background-color: rgb(224, 0, 132);
}

.org-button-activate {
  background-color: rgb(67, 198, 252);
}

.gpe-button-activate {
  background-color: rgb(253, 151, 32);
}

.tim-button-activate {
  background-color: rgb(67, 198, 252);
}

.art-button-activate {
  background-color: rgb(153, 153, 153);
}

.npe-button-activate {
  background-color: rgb(178, 87, 206);
}

.eve-button-activate {
  background-color:rgb(255, 204, 0);
}